<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!--<system.data>
		<DbProviderFactories>
			<add name="Npgsql Data Provider" invariant="Npgsql" type="Npgsql.NpgsqlFactory, Npgsql"
				description=".Net Framework Data Provider for Postgresql Server" />
		</DbProviderFactories>
	</system.data>-->
	<connectionStrings>
		<add name="DefaultConnection" providerName="Npgsql"
			 connectionString="Server=localhost;Username=postgres;Password=prolodgy778;Database=labs" />
	</connectionStrings>
</configuration>